[submodule "riscv-gnu-toolchain"]
        path = riscv-gnu-toolchain
        url = https://gitee.com/lubailong/riscv-gnu-toolchain.git
[submodule "qemu"]
        path = qemu
        url = https://gitee.com/lubailong/qemu.git
[submodule "kvmtool"]
        path = kvmtool
        url = https://gitee.com/lubailong/kvmtool.git
[submodule "howto"]
        path = howto
        url = https://gitee.com/lubailong/howto.git
[submodule "dtc"]
        path = dtc
        url = https://gitee.com/lubailong/dtc.git
